<div class="container-fluid">
  <div class="row">
    
    @for (contacto of contactosjs; track contacto.id) {
      
      @if (contacto.id == 6) {
        <div class="col-sm-6 col-md-3">
          <a target="_blank" [href]="contacto.url">
            <img [src]="contacto.img" style="width:100%">
          </a>
          <h3>{{ contacto.nombre }}</h3>
          <p>{{ contacto.titulo }}</p>
          <p>{{ contacto.descripcion }}</p>
        </div>
      }

    }
  </div>
</div>

<!-- Page content -->
<div class="container-fluid" style="max-width:1564px">

  <h1 style="text-align:center;">Ingenieria Quimica</h1>

  <h2>PROYECTOS</h2>
  <h3>
    <ul>
      <li>Levantamientos</li>
      <li>Documentos</li>
      <li>Programas de trabajo</li>
    </ul>
  </h3>

  <h2>ASESORÍA (A nivel nacional)</h2>
  <h3>
    <ul>
      <li>Levantamientos</li>
      <li>Presupuestos</li>
      <li>Programas de trabajo</li>
    </ul>
  </h3>

</div>
