<div style="width: 100%; height: 1rem; display: block;"></div>

<!-- CONTACTOS JS -->
<div class="container-fluid">

  @for (contacto of contactosjs; track contacto) {

    <div class="row">

      @if (contacto.id === 1) {
        <div class="col-sm-6 col-md-3">

          <a target="_blank" [href]="contacto.url">
            <img [src]="contacto.img" style="width:100%">
          </a>

          <h3>{{ contacto.nombre }}</h3>
          <p>{{ contacto.titulo }}</p>
          <p>{{ contacto.descripcion }}</p>

        </div>
      }

    </div>

  }

</div>

<!-- CONTENIDO INGENIERÍA -->
<div class="container-fluid" style="max-width:1564px">

  <h1 class="text-center">Ingeniería en Computación</h1>

  <h2>PROYECTOS</h2>
  <h3>
    <ul>
      <li>Levantamientos</li>
      <li>Documentos</li>
      <li>Diseño de diagramas UML</li>
    </ul>
  </h3>

  <h2>ASESORÍA (A nivel nacional)</h2>
  <h3>
    <ul>
      <li>Levantamientos</li>
      <li>Presupuestos</li>
      <li>Programas de trabajo</li>
    </ul>
  </h3>

</div>

<!-- TRABAJO DE GRADO / EXPERIENCIA / PROYECTOS -->
<div class="container-fluid" style="max-width:1564px">

  <div class="card w-100">
    <div class="card-body">

      <!-- TRABAJO DE GRADO -->
      <button class="btn btn-secondary"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapTapGrado">
        Trabajo de grado
      </button>

      <br><br>

      <div class="collapse show" id="collapTapGrado">
        <div class="row">

          @for (casa of trabajo_grado_luis; track casa) {

            <div class="col-sm-6 col-md-3">

              <a class="dropdown-item"
                 target="_blank"
                 [title]="casa.nombre"
                 [href]="casa.href">

                <img [src]="casa.src" style="width:100%" [title]="casa.nombre">
                <p style="overflow:hidden;">{{ casa.nombre }}</p>

              </a>

              <button
                class="btn btn-info"
                type="button"
                (click)="obtenerDetalleTrabajoGrado(casa.id)"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Detalle
              </button>

            </div>
          }

        </div>
      </div>

      <br><hr>

      <!-- EXPERIENCIA -->
      <button class="btn btn-secondary"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapTapExperiencia">
        Experiencia
      </button>

      <br><br>

      <div class="collapse" id="collapTapExperiencia">
        <div class="row">

          @for (casa of experiencia_luis; track casa) {

            <div class="col-sm-6 col-md-3">

              <a class="dropdown-item"
                 target="_blank"
                 [title]="casa.nombre"
                 [href]="casa.href">

                <img [src]="casa.src" style="width:100%" [title]="casa.nombre">
                <p style="overflow:hidden;">{{ casa.nombre }}</p>

              </a>

              <button
                class="btn btn-info"
                type="button"
                (click)="obtenerDetalleExperiencia(casa.id)"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Detalle
              </button>

            </div>
          }

        </div>
      </div>

      <br><hr>

      <!-- PROYECTOS REALIZADOS -->
      <button class="btn btn-secondary"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapTapProyectos">
        Proyectos realizados
      </button>

      <br><br>

      <div class="collapse" id="collapTapProyectos">
        <div class="row">

          @for (casa of proyectos_realizados_luis; track casa) {

            <div class="col-sm-6 col-md-3">

              <a class="dropdown-item"
                 target="_blank"
                 [href]="casa.href">

                <img [src]="casa.src" style="width:100%" [title]="casa.nombre">
                <p style="overflow:hidden;">{{ casa.nombre }}</p>

              </a>

              <button
                class="btn btn-info"
                type="button"
                (click)="obtenerDetalle(casa.id)"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Detalle
              </button>

            </div>

          }

        </div>
      </div>

      <br><hr>

      <!-- SOPORTE TÉCNICO -->
      <button class="btn btn-secondary"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapTapSoporteTecnico">
        Soporte técnico
      </button>

      <br><br>

      <div class="collapse" id="collapTapSoporteTecnico">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <img src="w3images/house5.jpg" style="width:100%">
            <div>Summer House</div>
          </div>
        </div>
      </div>

      <br><hr>

      <!-- SERVICIO COMUNITARIO -->
      <button class="btn btn-secondary"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapTapServicioComunitario">
        Servicio comunitario
      </button>

      <br><br>

      <div class="collapse" id="collapTapServicioComunitario">
        <div class="row">

          @for (casa of proyectos; track casa) {

            <div class="col-sm-6 col-md-3">
              <a target="_blank" class="dropdown-item" [href]="casa.url">
                <img [src]="casa.imagen" style="width:100%">
              </a>
            </div>

          }

        </div>
      </div>

    </div>
  </div>

  <br><hr>

  <!-- MODAL -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel">

    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tecnologías empleadas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">

          @for (tec of tecnologia; track tec) {

            <div class="row">

              <div class="col-sm-3 col-md-3">
                {{ tec }}
              </div>

              <div class="col-sm-3 col-md-3">
              </div>

              <div class="col-sm-3 col-md-3">
                {{ tec.porcentaje }}%
              </div>

            </div>

          }

        </div>

        <div class="modal-footer">
          <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>

  </div>

</div>
