<header class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#/">
      <img src="./assets/images/principal.jpg" width="50" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/'">Inicio <span class="sr-only">(current)</span></a>
        </li>
        

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">  Cursos  </a>
          <ul class="dropdown-menu">
            <li *ngFor="let curso of cursosjs">
              <a class="dropdown-item" href="{{curso.href}}"> 
                {{curso.nombre}}
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">  Proyectos  </a>
          <ul class="dropdown-menu">
            <li *ngFor="let curso of proyectos_realizados_luis">
              <a class="dropdown-item" href="{{curso.href}}"> 
                {{curso.nombre}}
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">  Agencia  </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/agencia_empresas">Empresas</a>
              <a class="dropdown-item" href="/agencia_profesionales">Profesionales</a>
              <a class="dropdown-item" href="/agencia_emprendedores">Emprendedores</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">  Contactos  </a>
          <ul class="dropdown-menu">
            <li *ngFor="let curso of contactosjs">
              <a class="dropdown-item" href="{{curso.href}}"> 
                {{curso.nombre}}
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contacto_empresa">Acerca de</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngFor="let task of login | async">
          <!-- <h3>name: {{ task.nombre }} </h3> -->
          <li class="nav-item" *ngIf="task.nombre=='error'">
            <a class="nav-link" [routerLink]="'/login'">Login</a>
          </li>
          <li class="nav-item" *ngIf="task.nombre=='error'">
            <a class="nav-link" [routerLink]="'/registro'">Registrar</a>
          </li>
      </ul>
    </div>
  </nav>
</header>