/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";


html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  flex: 1; /* Ocupa todo el espacio disponible */
}

app-footer {
  margin-top: auto; /* Empuja el footer hacia abajo */
}

/* Tema claro */
body.tema-claro {
  background-color: #ffffff;
  color: #000000;
}

/* Tema oscuro (por defecto) */
body.tema-oscuro {
  background-color: #121212;
  color: #ffffff;
}

/* Además, puedes ajustar los estilos de los componentes de Bootstrap u otros elementos según el tema */
body.tema-claro .navbar {
  background-color: #f8f9fa !important;
  color: #000000;
}

body.tema-claro .navbar a {
  color: #000000;
}

body.tema-oscuro .navbar {
  background-color: #343a40 !important;
  color: #ffffff;
}

body.tema-oscuro .navbar a {
  color: #ffffff;
}
