<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Registro de Usuario</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <!-- Campo de Nombre de usuario -->
            <div class="mb-3">
              <label for="username" class="form-label">Nombre de usuario</label>
              <input type="text" id="username" class="form-control" formControlName="username">
              @if (registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)) {
                <div class="text-danger">
                  @if (registerForm.get('username')?.errors?.['required']) { <small>El nombre de usuario es requerido.</small> }
                  @if (registerForm.get('username')?.errors?.['maxlength']) { <small>El nombre de usuario no puede tener más de 50 caracteres.</small> }
                </div>
              }
            </div>

            <!-- Campo de Correo Electrónico -->
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" id="email" class="form-control" formControlName="email">
              @if (registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)) {
                <div class="text-danger">
                  @if (registerForm.get('email')?.errors?.['required']) { <small>El correo es requerido.</small> }
                  @if (registerForm.get('email')?.errors?.['email']) { <small>El formato del correo no es válido.</small> }
                  @if (registerForm.get('email')?.errors?.['minlength']) { <small>El correo debe tener al menos 10 caracteres.</small> }
                  @if (registerForm.get('email')?.errors?.['maxlength']) { <small>El correo no puede tener más de 32 caracteres.</small> }
                </div>
              }
            </div>

            <!-- Campo de Contraseña -->
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" id="password" class="form-control" formControlName="password">
              @if (registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)) {
                <div class="text-danger">
                  @if (registerForm.get('password')?.errors?.['required']) { <small>La contraseña es requerida.</small> }
                  @if (registerForm.get('password')?.errors?.['minlength']) { <small>La contraseña debe tener al menos 4 caracteres.</small> }
                  @if (registerForm.get('password')?.errors?.['maxlength']) { <small>La contraseña no puede tener más de 100 caracteres.</small> }
                </div>
              }
            </div>

            <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">Registrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
